.project.even .proj-text, .project.odd .proj-carousel  {
    order: 1; 
}

.project.even .proj-carousel, .project.odd .proj-text {
    order: 2; 
}

.project {
    margin-top: 100px;
}

.proj-carousel {
    text-align: center;
}

img {
    width: 600px;
}